.chart-container {
    display: flex;
    height: 100%; /* Full height */
    background: rgba(32, 32, 32, 0.5);
  }
  .chart-box {
    flex: 1 1 48%; /* Each chart takes half the width in the first row */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
  }
  .pie-chart-box {
    flex: 1 1 100%; /* Pie chart spans the entire row */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 8px;
  }
  canvas {
    width: 90%; /* Adjust the chart width */
    height: 90%; /* Adjust the chart height */
  }

  